<nav class="nav--container">
    <div><p><a href="/">Home</a></p></div>
    <div><p><a href="/about">About</a></p></div>
    <div class="nav--container__social">
        <div><p>Github</p></div>
        <div><ul>Animals
            <li><a href="/animal/dog">Dogs</a></li>
            <li><a href="/animal/cat">Cats</a></li>
        </ul></div>
        <div><p>Twitter</p></div>
    </div>
</nav>