<nav class="nav--container">
    <div class="nav--container__dropdown">Cheer Up!</div>
    <div id="nav--dropdown__content" class="nav--container__social">
        <div><p><a href="/">Home</a></p></div>
        <div><p><a href="/about">About</a></p></div>
        <div><p><a href="/animal/dog">Dogs &#x1F436;</a></p></div>
        <div><p><a href="/animal/cat">Cats &#x1F431;</a></p></div>
        <div><p><a href="https://github.com/C-Climb">Github</a></p></div>
    </div>
</nav>