<% include partials/header %>
<% include partials/nav %>
<div class="container">
    <div class="container--inner__about">
        <h1>:(</h1>
        <h3>Something went wrong:</h3>
        <p><%=err%></p>
    </div>
</div>
<% include partials/headerEnd %>