<% include partials/header %>
<div class="wrapper">
    <% include partials/nav %>
    <h1>HELLO FROM THE ABOUT PAGE</h1>
    <p>
        Bacon ipsum dolor amet prosciutto cupim fatback pig pancetta tenderloin pork belly filet mignon short loin ham
        ribeye swine. Pork chop leberkas andouille bresaola shoulder biltong turkey. Jerky ground round buffalo boudin,
        tongue porchetta pork belly filet mignon ball tip shoulder strip steak. Short loin ribeye brisket doner ground
        round, sausage beef jowl prosciutto biltong shoulder kielbasa.
    </p>
<% include partials/footer %>
<% include partials/headerEnd %>