<% include partials/header %>
    <div class="container">
        <div class="image--container">
            <% randDogImages.forEach((randDogImages) => { %>
                <div class="image--container__inner">
                    <img class="image--resize" src="<%=randDogImages.url%>" alt="<%=randDogImages.breed%>">
                    <div class="image--source">
                        <div><a href="<%=randDogImages.url%>" target="_blank" rel="noopener noreferrer">Source</a></div>
                    </div>
                </div>
                <div class="image--container__flex">
                    <div><button class="button--back">Back</button></div>
                    <div><a class="button--next" href="<%=nextDogImage.url%>">Next</a></div>
                </div>
            <% }); %>
        </div>
        <div class="facts--container">
            <div><h3>Dog Fact:</h3></div>
            <div><p>re add when the api actually fucking works</p></div>
        </div>
    </div>
<script src="/js/snippets.js"></script>
<% include partials/headerEnd %>