<% include partials/header %>
<% include partials/nav %>
    <div class="container">
        <div class="container--inner">
            <div class="container--inner__CTA">
                <h1>It's time to cheer up :)</h1>
                <p>Don't worry about anything right now and look at cute animals instead!</p>
            </div>
            <div class="animal--container__flex">
                <div class="animal"><p><a href="/animal/cat"><span>&#x1F431;</span>I want to look at Cats!</a></p></div>
                <div class="animal"><p><a href="/animal/dog"><span>&#x1F436;</span>I want to look at Dogs!</a></p></div>
            </div>
        </div>
    </div>
<% include partials/headerEnd %>