<% include partials/header %>
    <div class="wrapper">
        <% include partials/nav %>
        <h1>HELLO FROM THE LANDING PAGE</h1>
        <div class="animal--flex__container">
            <div class="cat"><a href="/animal/cat">CAT ROUTE</a></div>
            <div class="cat"><a href="/animal/dog">DOG ROUTE</a></div>
        </div>
    </div>
<% include partials/headerEnd %>