@import 'reset';
$font_stack:(
  "font" : "Muli",
  "default" : "sans-serif"
);
$color_stack:(
  "lightgreen": #A5DECB,
  "darkgreen": #4EB4B7,
  "darkwhite": #FAFBFA,
  "lightblue": #5FB1F1,
  "darkblue": #5F72B3
);

$android-mobile_width:320px;
$ios-mobile_width: 480px;
$tablet_width: 768px;
$desktop_width: 1024px;

@mixin iosmobile{
  @media screen and (max-width: #{$ios-mobile_width}){
    @content;
  }
}

@mixin androidmobile{
  @media screen and (min-width: #{$android-mobile_width}){
    @content;
  }
}

@mixin tablet{
  @media screen and (min-width: #{$tablet_width}){
    @content;
  }
}

@mixin desktop{
  @media screen and (min-width: #{$desktop_width}){
    @content;
  }
}

body{
  height: 99vh;
  font-family: map-get($font_stack, "font");
}

.button--next{
  width: 150px;
  padding: 10px 0 10px 0;
  text-align: center;
  color:map-get($color_stack, "darkwhite");
  text-decoration: none;
  background-color: map-get($color_stack, "darkblue");
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
}

.button--next:hover,button:hover{
  background-color: map-get($color_stack , "lightblue");
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
}

button{
  width: 150px;
  padding: 10px 0 10px 0;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  color:map-get($color_stack, "darkwhite");
  background-color: map-get($color_stack, "darkblue");
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
}

 p{
   @include androidmobile{
     color: red;
  }
  @include iosmobile{
    color: green;
  }
   @include tablet{
    color: purple;
  }
  @include desktop{
       }
 }

.container{
  height: inherit;
  background-color: #2D2A34;
  @include desktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image--container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .image--container__inner{
      background-color: #FAFAFA;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 50px;
      .image--source{
        padding: 10px;
      }
      .image--resize{
        padding: 25px 25px 0 25px;
        height: 450px;
        width: auto;
      }
    }
    .image--container__flex{
      display: flex;
      div{
        padding: 14px;
        display: flex;
        align-items: center;
        justify-content: baseline;
      }
    }
    .facts--container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 10px;
      padding: 20px;
      max-width: 40%;
    }
  }
}

.container{
  @include iosmobile{
    height: 100vh;
  }
}

.image--resize{
  @include iosmobile{
    height: 240px;
    max-width: 350px;
  }
}

.image--container{
  @include iosmobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.image--container__inner{
  @include iosmobile{
    padding: 50px;
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image--source{
      padding: 10px;
    }
  }
}

.image--container__flex{
  @include iosmobile(){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    div{
      height: 50px;
      padding: 5px 0;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        height: 40px;
      }
    }
  }
}

.facts--container{
  @include iosmobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 10px;
  }
}

.image--source a{
  color: #46a0a3;
  font-weight: 500;
}

.facts--container{
  background-color: map-get($color_stack, "lightgreen");
  border-left: 5px  map-get($color_stack, "darkgreen") solid; 
  color: #46a0a3;

  h3{
    color: map-get($color_stack, "darkgreen");
    font-size: 1.25em;
    margin-bottom: 10px;
  }
}

.image--resize{
  max-height: 450px;
  width: auto;
}