@import 'reset';
$font_stack:(
  "font" : "Muli",
  "default" : "sans-serif"
);
$color_stack:(
  "lightgreen": #A5DECB,
  "darkgreen": #4EB4B7,
  "darkwhite": #FAFBFA,
  "lightblue": #5FB1F1,
  "darkblue": #5F72B3
);

$android-mobile_width:150px;
$ios-mobile_width: 480px;
$tablet_width: 768px;
$desktop_width: 1024px;

@mixin iosmobile{
  @media screen and (max-width: #{$ios-mobile_width}){
    @content;
  }
}

@mixin androidmobile{
  @media screen and (min-width: #{$android-mobile_width}){
    @content;
  }
}

@mixin tablet{
  @media screen and (min-width: #{$tablet_width}){
    @content;
  }
}

@mixin desktop{
  @media screen and (min-width: #{$desktop_width}){
    @content;
  }
}

// NAVBAR
.nav--container{
  .nav--container__dropdown{
    cursor: pointer;
    color: map-get($color_stack, "darkwhite");
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    letter-spacing: 1px;
    padding: 10px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
  }
  .nav--container__dropdown:hover{
    background-color: map-get($color_stack , "lightblue");
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
  }
  .nav--container__social div{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
    padding: 10px;
  }
  .nav--container__social div:hover{
    background-color: map-get($color_stack , "lightblue");
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
  }
  a{
    color: map-get($color_stack, "darkwhite");
    text-decoration: none;
  }
  background-color: map-get($color_stack, "darkblue");
  position: relative;
}

body{
  font-family: map-get($font_stack, "font");
  background-color: #2D2A34;
}

.button--next{
  background-color: map-get($color_stack, "darkblue");
  color:map-get($color_stack, "darkwhite");
  padding: 10px 0 10px 0;
  text-align: center;
  text-decoration: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
  width: 150px;
}

.button--next:hover,button:hover{
  background-color: map-get($color_stack , "lightblue");
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
}

button{
  background-color: map-get($color_stack, "darkblue");
  border: 0;
  color:map-get($color_stack, "darkwhite");
  cursor: pointer;
  font-size: 16px;
  padding: 10px 0 10px 0;
  text-decoration: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
  width: 150px;
}

// ANIMAL STYLES
.container{
  align-items: center;
  background-color: #2D2A34;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  .image--container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image--container__inner{
    align-items: center;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    margin-bottom: 30px;
    padding: 50px;
    .image--source {
      padding: 10px;
      a{
        color: #46a0a3;
        font-weight: 500;
      }
    }
    .image--resize{
      height: 450px;
      padding: 25px 25px 0 25px;
      width: auto;
    }
  }
  .image--container__flex{
    background-color: #2D2A34;
  }
}

.facts--container{
  background-color: map-get($color_stack, "lightgreen");
  border-left: 5px  map-get($color_stack, "darkgreen") solid; 
  color: #46a0a3;
  h3{
    color: map-get($color_stack, "darkgreen");
    font-size: 1.25em;
    margin-bottom: 10px;
  }
}



// MEDIA QUERIES

@include iosmobile{
  // ------------------------------
  .image--resize{
      height: 240px;
      max-width: 350px;
      margin-bottom: 50px;
  }
  // ------------------------------
  .image--container__flex{
    div{
      padding: 5px 0;
    }
  }
  // ------------------------------
  .facts--container{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 80%;
  }
}

@include androidmobile{
  .nav--container__social{
    display: none;
  }
  .nav--container__social--active{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a{
      text-decoration: none;
      color: map-get($color_stack, "darkwhite");
    }
    div{
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 10px;
      width: 100%;
    }
  }
  .container{
    height: 100vh;
  }
  .container--inner{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container--inner__CTA{
      align-items: center;
      color: map-get($color_stack, "darkwhite");
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 100px;
      text-align: center;
      width: 80%;
      h1{
        font-size: 1.8em;
        margin-bottom: 10px;
      }
      p{
        line-height: 20px;
        margin-bottom: 25px;
      }
    }
    .animal--container__flex{
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 250px;
      width: 250px;
    }
    .animal{
      align-items: center;
      background-color: map-get($color_stack, "darkblue");
      border-radius: 2.5px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      height: 250px;
      margin: 10px;
      padding: 10px;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
      width: 250px;
      span{
        display: block;
        font-size: 50px;
        margin-bottom: 5px;
        text-align: center;
      }
      a{
        align-items: center;
        color: map-get($color_stack, "darkwhite");
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        height: 150px;
        width: 180px;
      }
    }
    .animal:hover{
      background-color: map-get($color_stack, "lightblue");
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
    }
  }
  // -------------------------------------
  .container--inner__about{
    align-items: flex-start;
    background-color: map-get($color_stack, "darkblue");
    color: map-get($color_stack, "darkwhite");
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px;
    width: 80%;
    margin-bottom:50px;
    h1{
      margin-bottom: 10px;
    }
    p{
      line-height: 25px;
    }
    .about--cta a{
      background-color: rgba(0, 0, 0, 0.219);
      color: map-get($color_stack, "darkgreen");
    }
  }
  // --------------------------------------
  .image--container__inner{
      margin: 0 auto;
      width: 100vw;
    .image--source{
      padding: 10px;
    }
    .image--resize{
      height: 250px;
      width: auto;
    }
  }
  // ---------------------
  .image--container__flex{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    div{
      align-items: center;
      display: flex;
      height: 50px;
      justify-content: center;
      margin: 0 5px;
    }
    button{
      height: 40px;
    }
  }
  // ---------------------
  .facts--container{
    padding: 10px;
  }
}

@include tablet{
  .nav--container{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    .nav--container__dropdown{
      margin-right: auto;
      transition: none;
    }
    .nav--container__dropdown:hover{
      cursor: default;
      background-color: inherit;
      transition: none;
    }
  }
  .nav--container__social{
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-right: 50px;
    p{
      padding: 0 5px;
    }
  }
  // ----------------------------------------------
  .container--inner{
    .container--inner__CTA{
      align-items: flex-start;
      h1{
        font-size: 2.5em;
        margin-bottom: 20px;
        text-align: left;
      }
      p{
        font-size: 1.25em;
        line-height: 1.25em;
        margin-bottom: 25px;
        text-align: left;
      }
    }
    .animal--container__flex{
      flex-direction: row;
      height: 250px;
      width: auto;
      a{
        color: map-get($color_stack, "darkwhite");
        height: 250px;
        width: 250px;
      }
    }
  }
  // -------------------
  .image--container{
    width: 100%;
  }
  // -------------------
  .image--container__inner{
    width: 100%;
    padding: 50px;
    .image--resize{
      height: 300px;
      width: auto;
    }
  }
  // --------------------
  .image--container__flex{
    display: flex;
    div{
      align-items: center;
      display: flex;
      justify-content: baseline;
      padding: 14px;
    }
  }
  // ----------------------
  .facts--container{
    margin: 10px;
    max-width: 40%;
    padding: 20px;
  }
}

@include desktop{
  .image--container{
    width: inherit;
  }
}