@import 'reset';
$font_stack:(
  "font" : "Muli",
  "default" : "sans-serif"
);
$color_stack:(
  "lightgreen": #A5DECB,
  "darkgreen": #4EB4B7,
  "darkwhite": #FAFBFA,
  "lightblue": #5FB1F1,
  "darkblue": #5F72B3
);

$android-mobile_width:320px;
$ios-mobile_width: 480px;
$tablet_width: 768px;
$desktop_width: 1024px;

@mixin iosmobile{
  @media screen and (max-width: #{$ios-mobile_width}){
    @content;
  }
}

@mixin androidmobile{
  @media screen and (min-width: #{$android-mobile_width}){
    @content;
  }
}

@mixin tablet{
  @media screen and (min-width: #{$tablet_width}){
    @content;
  }
}

@mixin desktop{
  @media screen and (min-width: #{$desktop_width}){
    @content;
  }
}

body{
  @include desktop{
    height: 100vh;
  }
  font-family: map-get($font_stack, "font");
  background-color: #2D2A34;
}

// NAVBAR
.nav--container{
  .nav--container__dropdown{
    cursor: pointer;
    color: map-get($color_stack, "darkwhite");
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  a{
    text-decoration: none;
    color: map-get($color_stack, "darkwhite");
  }
  position: relative;
  background-color: map-get($color_stack, "darkblue");
  @include iosmobile{
    .nav--container__social{
      display: none;
    }
    .nav--container__social--active{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        color: map-get($color_stack, "darkwhite");
      }
      div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px;
      }
    }
  }
}

@include desktop{
  .nav--container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .nav--container__dropdown{
      margin-right: auto;
    }
  }
  .nav--container__social{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    margin-right: 50px;
    p{
      padding: 0 5px;
    }
  }
}


.button--next{
  width: 150px;
  padding: 10px 0 10px 0;
  text-align: center;
  color:map-get($color_stack, "darkwhite");
  text-decoration: none;
  background-color: map-get($color_stack, "darkblue");
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
}

.button--next:hover,button:hover{
  background-color: map-get($color_stack , "lightblue");
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
}

button{
  width: 150px;
  padding: 10px 0 10px 0;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  color:map-get($color_stack, "darkwhite");
  background-color: map-get($color_stack, "darkblue");
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
}

 p{
   @include androidmobile{
     color: red;
  }
  @include iosmobile{
    color: green;
  }
   @include tablet{
    color: purple;
  }
  @include desktop{
       color: orange;}
 }

.container{
  height: inherit;
  background-color: #2D2A34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .image--container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .image--container__inner{
    padding: 50px;
    background-color: #FAFAFA;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    .image--source {
      padding: 10px;
      a{
        color: #46a0a3;
        font-weight: 500;
      }
    }
    .image--resize{
      padding: 25px 25px 0 25px;
      height: 450px;
      width: auto;
    }
  }
  .image--container__flex{
    background-color: #2D2A34;
  }
}

.container{
  @include iosmobile{
    height: 100vh;
  }
}
.image--resize{
  @include iosmobile{
    height: 240px;
    max-width: 350px;
    margin-bottom: 50px;
  }
}

.image--container{
  @include tablet{
    width: 100%;
  }
  @include desktop{
    width: inherit;
  }
}

.image--container__flex{
  @include desktop{
    display: flex;
    div{
      padding: 14px;
      display: flex;
      align-items: center;
      justify-content: baseline;
    }
  }
}

.image--container__inner{
  @include iosmobile{
    margin: 0 auto;
    .image--source{
      padding: 10px;
    }
  }
  @include androidmobile{
    margin: 0 auto;
    .image--resize{
      height: 250px;
      width: auto;
    }
  }
  @include tablet{
    width: 100%;
    padding: 50px;
    .image--resize{
      height: 300px;
      width: auto;
    }
  }
}

.image--container__flex{
  @include iosmobile(){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    div{
      height: 50px;
      padding: 5px 0;
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        height: 40px;
      }
    }
  }
  @include androidmobile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    div{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      margin: 0 5px;
    }
    button{
      height: 40px;
    }
  }
}

.facts--container{
  background-color: map-get($color_stack, "lightgreen");
  border-left: 5px  map-get($color_stack, "darkgreen") solid; 
  color: #46a0a3;

  h3{
    color: map-get($color_stack, "darkgreen");
    font-size: 1.25em;
    margin-bottom: 10px;
  }
  @include androidmobile{
    padding: 10px;
    width: 100%;;
  }
  @include iosmobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 10px;
    width: inherit;
  }
  @include desktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    padding: 20px;
    max-width: 40%;
  }
}